// Auto generated when deploy
installer/packages/org.abt.formacaotaiko/data

.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
object_script.*
release/*
installer/installer.exe
MapaPalco_resource.rc
installer/installer.exe